@media only screen and (min-width: 641px) {
    body {
        max-width: 1000px;
    }
    #menu {
        display: none;
        /* hide hamburger button */
    }
    .navigation {
        flex-direction: row;
    }
    .navigation li a {
        display: block;
        flex: 1 1 100%;
        color: #dbdce0;
        padding: 5px;
        text-decoration: none;
        text-align: center;
    }
    .templelabel {
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #4D5B97);
        border: 1px solid rgba(0, 0, 0, .75);
        padding: 0px;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
        border-radius: 25px;
        opacity: 75%;
    }
}