/* small view navigation */

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    position: relative;
    float: right;
    top: 0;
    right: 0;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgb(23, 111, 219);
    border-radius: 5px;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}


/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}